@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font: 22px/26px "PT Sans", sans-serif;
  color: #333;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.main {
  flex-grow: 1;
}

.button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-transparent {
  background: none;
  text-transform: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.breadcrumbs-link {
  color: #fff;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #fff;
  background: #82B3D3;
}

.pagination-link-ative {
  color: #000;
  background-color: #F2F2F2;
}

.page-heading {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #000;
}

.heading {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.subheading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
}

.navigation {
  display: flex;
  padding: 0 70px;
}

.logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 580px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  width: auto;
  max-width: 310px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-user .navigation-item:last-child {
  margin-left: 20px;
  align-self: center;
}

.navigation-user .button {
  width: 130px;
  padding: 9px 15px 8px;
  text-align: center;
}

.intro {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/welcome-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.advantages {
  text-align: center;
}

.advantages-item {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-big {
  background: none;
}

.advantages-item-description {
  background-color: rgba(131, 179, 211, 1);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-subitem {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-subitem:nth-child(2n) {
  background-color: #fff;
}

.advantages-item-title {
  text-align: center;
  text-transform: uppercase;
}

.newsletter-backgrounded {
  color: #fff;
  background-image: url("../images/newsletter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter-backgrounded .newsletter-title {
  color: #fff;
}

.catalog-filter {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
}

.control-label {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.control-input {
  color: #fff;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.housing-item {
  font-size: 18px;
  line-height: 21px;
}

.housing-item-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.social-list {
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer .phone {
  font-size: 40px;
  line-height: 40px;
  color: #000;
}

.designer-copyrights {
  width: 115px;
}
