@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font: 22px/26px "PT Sans", sans-serif;
  color: #333;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

.main {
  flex-grow: 1;
}

.button {
  display: block;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-brown {
  background-color: #756157;
}

.button-brown:focus,
.button-brown:hover {
  background-color: #615048;
  outline: none;
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:focus,
.button-blue:hover {
  background-color: #68A2CA;
  outline: none;
}

.button-green {
  background-color: #7DB54F;
}

.button-green:focus,
.button-green:hover {
  background-color: #6C9E42;
  outline: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent {
  font-weight: 400;
  background: none;
  text-transform: none;
}

.form,
.control-input,
.control-select,
.control-label {
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
}

.control-input {
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
}

.control-input:focus {
  outline: 3px solid #83B3D3;;
}

.control-input:focus,
.control-input:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #E6E6E6;
}
.control-input:active {
  color: #000;
  background-color: #fff;
  outline: 2px solid #000000;;
}

.control-select {
  padding: 12px 128px 12px 18px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  align-self: center;
  color: #333333;
  cursor: pointer;
}

.control-select:focus,
.control-select:hover {
  border-color: #68A2CA;
  outline: none;
}

.control-select:active {
  border-color: #3F5E72;
}

.control-select:disabled {
  border-color: rgba(0, 0, 0, 0.3);;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs,
.breadcrumbs-item,
.breadcrumbs-link {
  display: flex;
  align-items: center;
}

.breadcrumbs {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-link {
  min-width: 12px;
  min-height: 12px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.breadcrumbs-link:focus {
  color: #fff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-separator {
  padding: 0 10px;
}

.page-heading {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #000;
}

.heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.subheading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
}

.inner-header {
  padding: 35px 70px 70px;
  color: #fff;
  background: gray url("../images/filter-background.jpg");
  background-size: cover;
}

.inner-header .page-heading {
  color: inherit;
}

.inner-header .breadcrumbs {
  margin-bottom: 40px;
}

.catalog {
  margin-top: 55px;
  margin-left: 72px;
  margin-right: 71px;
}

.catalog-header {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.catalog-header .heading {
  margin-right: auto;
  margin-bottom: 0;
}

.catalog-header .control-select {
  margin-right: 78px;
}

.button-view {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
}

.button-view:focus {
  border-color: #68A2CA;
  outline: none;
}

.button-view:hover
.button-view:active,
.button-view-current {
  border-color: #000;
}

.button-view:last-child {
  margin-right: 0;
}

.button-view-tile {
  background-image: url("../images/icons/tile.svg");
}
.button-view-slideshow {
  background-image: url("../images/icons/slideshow.svg");
}
.button-view-list {
  background-image: url("../images/icons/list.svg");
}

.catalog-footer {
  display: flex;
  align-items: center;
  padding: 30px 0 25px;
  border-top: 1px solid #E6E6E6;
}

.catalog-footer .control-label {
  margin-right: 51px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11.36px 0 12.64px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #82B3D3;
}

.pagination-link:focus,
.pagination-link:hover {
  background-color: #68A2CA;
  outline: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link-current,
.pagination-link-current:focus,
.pagination-link-current:hover {
  color: #000;
  background-color: #F2F2F2;
}

.navigation {
  display: flex;
  padding: 0 70px;
}

.logo {
  width: 140px;
  margin-right: 30px;
}

.logo-image {
  position: relative;
  top: 5px;
  display: block;
  margin-top: -5px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  width: auto;
  margin-left: auto;
}

.navigation-link {
  position: relative;
  display: block;
  margin-bottom: -1px;
  padding: 20px 17px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.navigation-link:focus,
.navigation-link:hover {
  color: #756157;
}
.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-menu .navigation-link-current::after {
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: 0;
    display: block;
    height: 2px;
    background-color: black;
    content: "";
}

.navigation-user .navigation-link {
  display: grid;
  align-items: center;
  height: calc(100% + 1px);
  padding: 11px;
  box-sizing: border-box;
  transform: translateY(-1px);
}

.navigation-link-icon {
  display: block;
}

.navigation-link-content,
.navigation-link-badge {
  grid-area: 1/1/-1/-1;
}

.navigation-link-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  padding-bottom: 2px;
  border-radius: 18px;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  letter-spacing: -0.1em;
  text-align: center;
  color: #fff;
  background-color: #7DB54F;
  transform: translate(13px, -6px);
}

.navigation-user .navigation-item:last-child {
  margin-left: 20px;
  align-self: center;
}

.navigation-user .button {
  width: 130px;
  padding: 9px 15px 8px;
  text-align: center;
}

.intro {
  min-height: 485px;
  padding: 51px 0;
  box-sizing: border-box;
  background-image: url("../images/welcome-background-bottom.svg"),
                    url("../images/welcome-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 428px, center top;
  text-align: center;
}

.advantages {
  padding-top: 69px;
  text-align: center;
}

.advantages .heading {
  margin: 0;
  margin-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 90px;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item .subheading {
  color: inherit;
}

.advantages-item-big {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  color: #fff;
  background: none;
}

.advantages-item-info {
  justify-content: center;
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 92px 85px;
  text-align: center;
}

.advantages-item .advantages-item-info {
  background-color: rgba(131, 179, 211, 1);
}

.advantages-item-order {
  margin-bottom: 30px;
}

.advantages-item-info p:last-child {
  margin: 0;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-sublist {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #333;
  list-style-type: none;
}

.advantages-item-sublist .advantages-item-info {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-sublist .advantages-item-info:nth-child(2n) {
  background-color: #fff;
}

.advantages-item-title {
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-picture {
  background-color: lightgray;
}

.advantages-item-big:nth-child(2n) .advantages-item-picture {
  order: -1;
}

.advantages-subitem::before {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages-subitem-housing:before {
  background-image: url("../images/icons/housing.svg");
}
.advantages-subitem-eating:before {
  background-image: url("../images/icons/eating.svg");
}
.advantages-subitem-souvenir:before {
  background-image: url("../images/icons/souvenir.svg");
}

.search-hotel {
  padding: 91px 304px 93px;
  text-align: center;
}

.search-hotel .button {
  margin-top: 56px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.newsletter {
  padding: 94px 200px;
  text-align: center;
}

.newsletter-backgrounded {
  color: #fff;
  background-image: url("../images/newsletter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter-backgrounded .newsletter-title {
  color: #fff;
}

.newsletter-form {
  display: flex;
  margin-top: 46px;
  border-radius: 10px;
}

.newsletter-form .control-input {
  padding: 20px 22px 19px;
  border: 0;
  border-radius: 10px 0 0 10px;
  flex-grow: 1;
}

.newsletter-form .button {
  min-width: 200px;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 36px;
}

.catalog-filter-form {
  display: grid;
  grid-template-columns: repeat(3, max-content) 160px;
  column-gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(2n) {
  margin-right: auto;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-filter-title {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-buttons {
  align-self: end;
}

.catalog-filter-buttons .button {
  width: 100%;
  border: 0;
  text-align: center;
}

.catalog-filter-buttons .button-blue {
  margin-bottom: 20px;
  padding: 14px 15px;
  border-radius: 4px;
}

.housing-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
}

.housing-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
}

.housing-item-image {
  grid-area: 1/1/2/-1;
  object-fit: contain;
  background-color: lightgrey;
}

.housing-item-title {
  grid-column: span 2;
  margin: 0;
}

.housing-item-price {
  font-weight: 400;
}

.housing-item .button,
.housing-item-rating {
  padding: 8px;
  padding-top: 9px;
  text-align: center;
  border-radius: 4px;
}

.housing-item-stars {
  --star: 1;
}

.housing-item-stars::before {
  display: block;
  width: calc(24px * var(--star));
  height: 100%;
  background: url("../images/icons/star.svg") repeat-x center left;
  content: "";
}

.housing-item-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47.3333px;
  min-height: 40px;
  color: #83B3D3;
}

.social-list-link:focus,
.social-list-link:hover {
  color: #68A2CA;
}
.social-list-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.page-footer .phone {
  font-size: 40px;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}

.page-footer .phone:focus,
.page-footer .phone:hover {
  color: #756157;
}
.page-footer .phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.designer-copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  color: #000;
}

.designer-copyrights:focus,
.designer-copyrights:hover {
  color: #756157;
}
.designer-copyrights:active {
  color: rgba(117, 97, 87, 0.3);;
}
